html {
    min-height: 100%
}

body {
    color: #888ea8;
    height: 100%;
    font-size: 0.875rem;
    background: #f1f2f3;
    overflow-x: hidden;
    overflow-y: auto;
    letter-spacing: 0.0312rem;
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3b3f5c;
}

:focus {
    outline: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: #4361ee;
    background: transparent;
}

::selection {
    color: #4361ee;
    background: transparent;
}

p {
    margin-top: 0;
    margin-bottom: 0.625rem;
    color: #515365
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #f1f2f3;
}

strong {
    font-weight: 600;
}

code {
    color: #e7515a;
}

/*Page title*/

.page-header-content {
    margin-right: auto;
    margin-left: 32px;
    margin-top: 9px;
}

.page-header {
    border: 0;
    margin: 0;
    display: flex;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 20px;
}

.page-title {
    position: relative;
    align-self: center;
    margin-right: 0;
    width: 100%;
}

.page-title h3 {
    margin: 0;
    margin-bottom: 0;
    font-size: 21px;
    color: #3b3f5c;
    font-weight: 600;
}

.main-container {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#container.fixed-header {
    margin-top: 56px;
}

#content {
    width: 50%;
    flex-grow: 8;
    margin-bottom: 0;
    margin-left: 255px;

    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}

.admin-header .page-header {
    margin-top: 0;
}

.main-container-fluid>.main-content>.container {
    float: left;
    width: 100%
}

.content-container {
    margin-right: -20px;
    margin-left: 50px;
}

#content .col-left {
    padding: 0;

    -webkit-box-flex: 1;
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
    margin-right: 348px;
}

#content .col-left-content {
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 10px;

    height: 100%;
}

.section-ui #content .col-left-content,
.section-components #content .col-left-content,
.section-form #content .col-left-content {
    margin: 0 auto;
    max-width: 1170px;
}

#content>.wrapper {
    -webkit-transition: margin ease-in-out .1s;
    -moz-transition: margin ease-in-out .1s;
    -o-transition: margin ease-in-out .1s;
    transition: margin ease-in-out .1s;
    position: relative
}

.widget {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 6px;
    -webkit-box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
    -moz-box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01);
}

.layout-top-spacing {
    margin-top: 25px;
}

.layout-spacing {
    padding-bottom: 40px;
}

.layout-px-spacing {
    padding: 0 20px 0 20px !important;
    min-height: calc(100vh - 140px) !important;
}

.widget.box .widget-header {
    background: #fff;
    padding: 0px 8px 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.row [class*="col-"] .widget .widget-header h4 {
    color: #3b3f5c;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 16px 15px;
}

.seperator-header {
    background: transparent;
    box-shadow: none;
    margin-bottom: 40px;
    border-radius: 0;
}

.seperator-header h4 {
    margin-bottom: 0;
    line-height: 1.4;
    padding: 5px 8px;
    font-size: 15px;
    border-radius: 4px;
    letter-spacing: 1px;
    display: inline-block;
    background: rgba(0, 150, 136, 0.26);
    color: #009688;
    font-weight: 500;
}

.widget .widget-header {
    border-bottom: 0px solid #f1f2f3;
}

.widget .widget-header:before,
.widget .widget-header:after {
    display: table;
    content: "";
    line-height: 0
}

.widget .widget-header:after {
    clear: both
}

.widget-content-area {
    padding: 20px;
    position: relative;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.content-area {
    max-width: 58.333333%;
    margin-left: 80px;
}


/*
    ==================
    ------------------
        Navigation
    ------------------
    ==================
*/


/*
======================================
    Dashboard Header - Navigation Bar
======================================
*/

.admin-header .header-container .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 0 8px 0;
    padding-top: 0;
}

.admin-header .header-container .sidebarCollapse {
    margin: 0 0 0 0;
    color: #3E8E9E;
    background-color: #d1e5e9;
    height: 34px;
    display: inline-flex;
    width: 34px;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0px 0px 20px -10px #3E8E9E;
    margin-right: 12px;
}

.bt-menu-trigger {
    font-size: 10px;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 9px;
    cursor: pointer;
}

.bt-menu-trigger span {
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 0;
    background-color: #009688;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 30px;
}

.sidebarCollapse.bt-menu-open .bt-menu-trigger span {
    background-color: #009688;
}

.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #009688;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.sidebarCollapse.bt-menu-open .bt-menu-trigger span:after,
.sidebarCollapse.bt-menu-open .bt-menu-trigger span:before {
    background: #009688;
}

.bt-menu-trigger span:before {
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
}

.bt-menu-trigger span:after {
    -webkit-transform: translateY(0.5em);
    transform: translateY(0.5em);
}

.bt-menu-open .bt-menu-trigger span:before {
    -webkit-transform: translateY(-0.25em) translateX(-0.45em) rotate(-40deg) scaleX(0.6);
    transform: translateY(-0.25em) translateX(-0.45em) rotate(-40deg) scaleX(0.6);
}

.bt-menu-open .bt-menu-trigger span:after {
    -webkit-transform: translateY(0.25em) translateX(-0.45em) rotate(38deg) scaleX(0.6);
    transform: translateY(0.25em) translateX(-0.45em) rotate(38deg) scaleX(0.6);
}

.admin-header .header-actions {
    display: flex;
}


/*   Language Dropdown  */

.admin-header .language-dropdown {
    align-self: center;
}

/*   Language Dropdown  */

.admin-header .language-dropdown .custom-dropdown-icon a.dropdown-toggle {
    position: relative;
    padding: 9px 35px 10px 15px;
    border: none;
    border-radius: 6px;
    transform: none;
    font-size: 14px;
    line-height: 17px;
    min-width: 115px;
    text-align: inherit;
    color: #1b2e4b;
    box-shadow: none;
    max-height: 35px;
    font-weight: 600;
}

.admin-header .language-dropdown .custom-dropdown-icon a.dropdown-toggle img {
    width: 32px;
    height: 22px;
    margin-right: 9px;
}

.admin-header .language-dropdown .custom-dropdown-icon a.dropdown-toggle svg {
    position: absolute;
    right: 20px;
    top: 14px;
    color: #515365;
    width: 13px;
    height: 13px;
    margin: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.admin-header .language-dropdown .custom-dropdown-icon.show a.dropdown-toggle svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.admin-header .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown).language-dropdown .custom-dropdown-icon .dropdown-menu {
    position: absolute;
    right: 0;
    padding: 8px 0;
    min-width: 155px;
    background: #fff;
    top: 166% !important;
}

.admin-header .dropdown:not(.custom-dropdown-icon):not(.custom-dropdown).language-dropdown .custom-dropdown-icon .dropdown-menu.show {
    top: 37px !important;
}

.admin-header .language-dropdown .custom-dropdown-icon .dropdown-menu a {
    padding: 8px 15px !important;
    font-size: 13px !important;
    font-weight: 700 !important;
    color: #3b3f5c !important;
}

.admin-header .language-dropdown .custom-dropdown-icon .dropdown-menu a:hover {
    color: #2196f3 !important;
    border-radius: 0 !important;
}

.admin-header .language-dropdown .custom-dropdown-icon .dropdown-menu img {
    width: 22px;
    height: 22px;
    margin-right: 7px;
}

.admin-header .toggle-notification-bar {
    align-self: center;
    margin: 0 0 0 0;
    color: #3E8E9E;
    background-color: #d1e5e9;
    height: 38px;
    display: none;
    width: 38px;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    padding: 9px 9px;
    box-shadow: 0px 0px 20px -10px #3E8E9E;
    margin-left: 12px;
}


/* Search */

.admin-header .search-ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.admin-header .nav-item.search-animated {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
}

.admin-header .nav-item.search-animated svg {
    font-weight: 600;
    margin: 0 9.6px;
    cursor: pointer;
    color: #e3e4eb;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 8px;
    left: 12px;
}

.admin-header .nav-item form.form-inline input.search-form-control {
    width: 100%;
    font-size: 14px;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #888ea8;
    letter-spacing: 1px;
    padding: 0px 4px 0px 50px;
    height: 35px;
    font-weight: 600;
}

.admin-header .nav-item form.form-inline input.search-form-control:focus {
    box-shadow: 0 0.1px 0.4px rgba(0, 0, 0, 0), 0 0.1px 1.1px rgba(0, 0, 0, 0), 0 0.3px 2px rgba(0, 0, 0, 0), 0 0.4px 3.6px rgba(0, 0, 0, 0), 0 0.8px 6.7px rgba(0, 0, 0, 0.023), 0 2px 16px rgba(0, 0, 0, 0.04);
}

.form-inline.search {
    width: 100%;
}

.search-bar {
    width: 100%;
}

.admin-header .nav-item .form-inline.search .search-form-control {
    border: 1px solid #151516;
    width: 100%;
    background: #151516;
}

.admin-header .nav-item form.form-inline input.search-form-control::-webkit-input-placeholder {
    color: #888ea8;
    letter-spacing: 1px;
    font-size: 13px;
}

.admin-header .nav-item form.form-inline input.search-form-control::-ms-input-placeholder {
    color: #888ea8;
    letter-spacing: 1px;
    font-size: 13px;
}

.admin-header .nav-item form.form-inline input.search-form-control::-moz-placeholder {
    color: #888ea8;
    letter-spacing: 1px;
    font-size: 13px;
}

.admin-header .nav-item form.form-inline input.search-form-control:focus::-webkit-input-placeholder {
    color: #e3e4eb;
}

.admin-header .nav-item form.form-inline input.search-form-control:focus::-ms-input-placeholder {
    color: #e3e4eb;
}

.admin-header .nav-item form.form-inline input.search-form-control:focus::-moz-placeholder {
    color: #e3e4eb;
}

.search-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent !important;
    z-index: 814 !important;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.search-overlay.show {
    display: block;
    opacity: .1;
}

.col-right-content.content-fixed .col-right-content-container {
    position: relative;
    height: calc(100vh - 105px);
    padding: 0 0 0 0;
}

.search-overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent !important;
    z-index: 814 !important;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.search-overlay.show {
    display: block;
    opacity: .1;
}


/*
===============
    Sidebar
===============
*/

.sidebar-wrapper * {
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-wrapper {
    width: 255px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1028;
    height: 100%;
    transition: .3s ease all;
    border-top-right-radius: 30px;
    background-color: #e0f0ef;
}

.sidebar-closed .sidebar-wrapper {
    left: -255px;
}

.sidebar-wrapper .theme-logo {
    z-index: 1030;
    left: 0;
    transition: .3s ease all;
    position: fixed;
    top: 0;
    width: 255px;
    padding: 21px 14px 13px 14px;
    border-top-right-radius: 34px;
}

.sidebar-closed.sbar-open .sidebar-wrapper .theme-logo {
    left: -255px;
}

.sidebar-wrapper .theme-logo a {
    display: flex;
    font-size: 29px;
    color: #030305;
}

.sidebar-wrapper .theme-logo .admin-logo {
    border-left: 1px solid #bfc9d4;
    margin-left: 12px;
    padding-left: 14px;
}

.sidebar-wrapper .theme-logo .admin-logo span {
    display: inline-block;
    background: #000;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 3px;
}

.sidebar-wrapper .sidebarCollapseFixed {
    position: absolute;
    display: inline-block;
    background: #000;
    padding: 8px;
    border-radius: 12px;
    right: -25px;
    top: 63px;
    z-index: 1032;
    background-color: #e7f7ff;
    box-shadow: 0 0 32px rgb(0 0 0 / 9%);
    cursor: pointer;

    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.sidebar-wrapper .sidebarCollapseFixed.show {
    visibility: visible;
    opacity: 1;
    right: -8px;
}

.sidebar-wrapper .sidebarCollapseFixed svg {
    color: #030305;
    width: 17px;
    height: 17px;
    stroke-width: 1.6;
}


.sidebar-closed.sbar-open .sidebar-wrapper .user-content {
    left: -255px;
}

.sidebar-wrapper .user-content {
    z-index: 1053;
    left: 0;
    transition: .3s ease all;
    position: fixed;
    top: 93px;
}

.sidebar-wrapper .user-content .dropdown-menu {
    position: fixed !important;
    padding: 10px 0;
    top: 91px !important;
    width: 232px;
    box-shadow: 0 10px 20px -10px rgba(191, 201, 212, 0.7098039215686275);
}

.sidebar-wrapper .usr-info-content {
    display: flex;
}

.sidebar-wrapper .user-info {
    display: flex;
    padding: 8px 11px;
    width: 232px;
    background: #fff;
    margin: 3px 12px;
    border-radius: 6px;
    box-shadow: 0 10px 20px -10px rgba(191, 201, 212, 0.62);
    justify-content: space-between;
    box-shadow: 0 0.1px 0px rgba(0, 0, 0, 0.002), 0 0.2px 0px rgba(0, 0, 0, 0.003), 0 0.4px 0px rgba(0, 0, 0, 0.004), 0 0.6px 0px rgba(0, 0, 0, 0.004), 0 0.9px 0px rgba(0, 0, 0, 0.005), 0 1.2px 0px rgba(0, 0, 0, 0.006), 0 1.8px 0px rgba(0, 0, 0, 0.006), 0 2.6px 0px rgba(0, 0, 0, 0.007), 0 3.9px 0px rgba(0, 0, 0, 0.008), 0 7px 0px rgba(0, 0, 0, 0.01)
}

.sidebar-wrapper .dropdown.show .user-info {
    border: 1px solid #e0e6ed;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.sidebar-wrapper .dropdown.show .dropdown-menu {
    border: 1px solid #e0e6ed;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.sidebar-wrapper .user-info .user-image img {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    margin-right: 12px;
}

.sidebar-wrapper .user-info .user-name h6 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
}

.sidebar-wrapper .user-info .user-name p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
}

.sidebar-wrapper .user-info svg {
    align-self: center;
    width: 16px;
    height: 16px;
    margin-left: 14px;
}

.sidebar-wrapper .user-content .dropdown-menu .dropdown-item {
    padding: 0;
}

.sidebar-wrapper .user-content .dropdown-menu .dropdown-item:hover {
    background-image: linear-gradient(108deg, #f5f7fa 50%, #c3cfe2 150%);
}

.sidebar-wrapper .user-content .dropdown-menu .dropdown-item a {
    display: block;
    color: #3b3f5c;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 30px;
}

.sidebar-wrapper .user-content .dropdown-menu .dropdown-item a svg {
    width: 18px;
    margin-right: 8px;
    height: 18px;
    color: #3b3f5c;
    fill: rgba(59, 63, 92, 0.2);
}

.sidebar-closed #content {
    margin-left: 0;
}

.sidebar-wrapper #compactSidebar {
    width: 255px;
    position: fixed;
    top: 101px;
    left: 0;
    z-index: 1031;
    transition: .3s ease all;
    touch-action: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sidebar-closed #compactSidebar {
    left: -255px;
}

.sidebar-wrapper #compactSidebar .menu-categories {
    position: relative;
    padding: 0;
    height: calc(100vh - 85px);
    flex-wrap: wrap;
    display: inline-block;
    margin-bottom: 0;
}

.sidebar-wrapper #compactSidebar .menu-categories.ps .ps__rail-y:hover,
.sidebar-wrapper #compactSidebar .menu-categories.ps .ps__rail-y.ps--clicking {
    background-color: transparent;
}

.sidebar-wrapper #compactSidebar .menu-categories>li.menu:first-child {
    float: none;
}

.sidebar-wrapper #compactSidebar .menu-categories>li.menu {
    position: relative;
    list-style: none;
    width: 50%;
    flex: 0 0 50%;
    padding: 12px;
    float: left;
}

.sidebar-wrapper #compactSidebar .menu-categories a.menu-toggle {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #515365;
    transition: color .3s;
    transition: background .3s;
    background: rgb(0 150 136 / 11%);
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar-wrapper #compactSidebar .menu-categories a.menu-toggle:hover {
    border: 1px solid #009688;
}

.sidebar-wrapper #compactSidebar .menu-categories a.menu-toggle>div.base-menu {
    text-align: center;
}

.sidebar-wrapper #compactSidebar .menu-categories a.menu-toggle .base-icons {
    text-align: center;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    padding-top: 2px;
}

.sidebar-wrapper #compactSidebar .menu-categories a.menu-toggle:hover .base-icons {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.sidebar-wrapper #compactSidebar .menu-categories a.menu-toggle .base-icons svg {
    position: relative;
    display: inline-block;
    color: #009688;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    fill: rgb(0 150 136 / 14%);
    stroke-width: 1px;
}

.sidebar-wrapper #compactSidebar .menu-categories a.menu-toggle .base-menu span {
    font-size: 12px;
    margin-top: 8px;
    display: inline-block;
    color: #009688;
    font-weight: 600;
    letter-spacing: 0.8px;
}

.sidebar-wrapper #compactSidebar .menu-categories>li.menu:hover svg.feather-chevron-left {
    display: block;
}

/*Data active True*/
.sidebar-wrapper #compactSidebar .menu-categories>li.menu.active svg.feather-chevron-left {
    display: block;
}

.sidebar-wrapper:not(.hide-mainMenu) #compactSidebar .menu-categories a.menu-toggle[data-active="true"] {
    background-color: #009688;
    box-shadow: 0 10px 20px -10px #009688;
    border: 1px solid #009688;

}

.sidebar-wrapper:not(.hide-mainMenu) #compactSidebar .menu-categories a.menu-toggle[data-active="true"] .base-icons {
    text-align: center;
}

.sidebar-wrapper:not(.hide-mainMenu) #compactSidebar .menu-categories a.menu-toggle[data-active="true"] .base-icons svg {
    color: #fff;
    fill: rgb(255 255 255 / 14%);
}

.sidebar-wrapper:not(.hide-mainMenu) #compactSidebar .menu-categories a.menu-toggle[data-active="true"] .base-menu span {
    font-weight: 600;
    color: #e0e6ed;
    font-size: 11px;
}

.sidebar-wrapper #compact_submenuSidebar {
    left: -255px;
    position: fixed;
    height: calc(100vh - 85px);
    top: 85px;
    background: #e0f0ef;
    width: 255px;
    padding: 17px 0;
    transition: .3s ease all;
    z-index: 1031;
    background-color: #e0f0ef;
}

.sidebar-wrapper #compact_submenuSidebar.show {
    left: 0;
}

.sidebar-wrapper #compact_submenuSidebar .submenu {
    display: none;
}

.sidebar-wrapper #compact_submenuSidebar .submenu.show {
    display: block;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list:not(.menu-block-submenu) {
    padding: 7px 20px;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list.menu-block-submenu {
    display: flex;
    flex-wrap: wrap;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.menu-block {
    display: inline-block;
    position: relative;
    list-style: none;
    width: 50%;
    flex: 0 0 50%;
    padding: 12px;
    float: left;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.menu-block a:hover {
    border: 1px solid #009688;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.menu-block a {
    padding: 17px 14px !important;
    text-align: center;
    background: rgb(35 126 112 / 12%);
    border-radius: 10px;
    box-shadow: 0 10px 20px -10px rgba(191, 201, 212, 0.7098039215686275);
    margin-bottom: 10px;
    font-size: 12px;
    color: #009688;
    font-weight: 600;
    letter-spacing: 0.8px;
    border: 1px solid rgb(201 226 224);
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.active.menu-block a {
    background-color: #009688;
    box-shadow: 0 10px 20px -10px #009688;
    border: 1px solid #009688;
    color: #fff;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.active.menu-block a svg:not(.feather-chevron-right) {
    color: #e0e6ed;
    stroke-width: 1.5px;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.menu-block a svg:not(.feather-chevron-right) {
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    width: 25px;
    height: 25px;
    stroke-width: 1px;
    fill: rgb(0 150 136 / 14%);
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a {
    padding: 6px 5px;
    display: block;
    color: #506690;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: .300s;
    border-radius: 5px;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li:first-child a {
    padding-top: 0;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list:not(.menu-block-submenu) li a {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: #1b2e4b;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list:not(.menu-block-submenu) li.active>a {
    background-position: 0 100%;
    color: #2196f3;
    -webkit-text-fill-color: #2196f3;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list:not(.menu-block-submenu) li.active a .icon svg {
    fill: #2196f3 !important;
    color: #2196f3;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.active a .icon svg.feather-git-commit:not(.feather-chevron-right):not(.feather-folder) line {
    color: #2196f3;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a:hover .icon svg:not(.feather-chevron-right) {
    fill: #3e8e9e4a;
    color: #3e8e9e;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a .cat-icon {
    display: inline;
    padding: 5px;
    background: #e0e6ed;
    margin-right: 15px;
    border-radius: 6px;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a svg:not(.feather-chevron-right) {
    color: #3E8E9E;
    vertical-align: bottom;
    width: 21px;
    height: 21px;
    fill: rgba(6, 8, 24, 0.0784313725490196);
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a .icon {
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 4px;
    transition: .100s;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a .icon svg:not(.feather-chevron-right) {
    margin-right: 0;
    width: 4px;
    height: 4px;
    align-self: center;
    fill: #3e8e9e;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a .icon svg.feather-git-commit:not(.feather-chevron-right):not(.feather-folder) {
    transform: rotate(45deg);
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a .icon svg:not(.feather-chevron-right):not(.feather-chevron-right) {
    margin-right: 0;
    width: 17px;
    height: 17px;
    align-self: center;
    fill: transparent;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a .icon svg.feather-git-commit:not(.feather-chevron-right):not(.feather-folder) line {
    color: rgb(0 150 136 / 41%);
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a .icon svg.feather-folder {
    margin-bottom: 3px;
    stroke-width: 1.6;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a:hover {
    background-position: 0 100%;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a:hover .icon svg:not(.feather-chevron-right) {
    fill: #3e8e9e4a;
    color: #3e8e9e;
    stroke-width: 1.8px;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li a svg.feather-chevron-right {
    width: 15px;
    height: 15px;
    align-self: center;
    transition: .500s;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu a[aria-expanded="true"] {
    transition: .300s;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu a[aria-expanded="true"] svg.feather-chevron-right {
    transform: rotate(90deg);
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu a {
    display: flex;
    justify-content: space-between;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu ul {
    padding-left: 0;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu ul li:first-child a {
    padding-top: 20px;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu ul li a {
    position: relative;
    padding: 6px 55px;
    background: transparent;
    border-radius: 0;
    font-size: 13px;
    font-weight: 600;
    box-shadow: none;
    color: #506690;
    -webkit-text-fill-color: #506690;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu ul li a:hover {
    color: #151516;
    -webkit-text-fill-color: #151516;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu ul li.active a {
    color: #009688;
    -webkit-text-fill-color: #009688;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu ul li.active a:before {
    background-color: #009688;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu ul li:first-child a:before {
    top: 28px;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu ul li a:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 3px;
    background-color: #888ea8;
    top: 14px;
    left: 37px;
    border-radius: 50%;
}

.sidebar-wrapper #compact_submenuSidebar .submenu ul.submenu-list li.sub-submenu ul li a:hover:before {
    background-color: #304aca;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .1);
    z-index: 1029 !important;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.overlay.show {
    display: block;
}

.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes e-fadeInUp {
    0% {
        opacity: 0;
        margin-top: 10px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes e-fadeInUp {
    0% {
        opacity: 0;
        margin-top: 10px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.fadeInUp {
    -webkit-animation-name: e-fadeInUp;
    animation-name: e-fadeInUp
}

/*
    ======================
        Footer-wrapper
    ======================
*/

.footer-wrapper {
    padding: 10px 0 10px 0;
    display: inline-block;
    background: transparent;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    border-top-left-radius: 6px;
    display: flex;
    justify-content: space-between;
    max-width: 1599px;
    margin: 0 auto;
}

.main-container.sidebar-closed .footer-wrapper {
    border-radius: 0;
}

.footer-wrapper .footer-section p {
    margin-bottom: 0;
    color: #515365;
    font-size: 13px;
    letter-spacing: 1px;
}

.footer-wrapper .footer-section p a {
    color: #515365;
}

.footer-wrapper .footer-section svg {
    color: #e7515a;
    fill: rgba(231, 81, 90, 0.4196078431372549);
    width: 15px;
    height: 15px;
    vertical-align: text-top;
}


/*
    ======================
        MEDIA QUERIES
    ======================
*/

.admin-header .header-container {
    margin-bottom: 25px;
    max-width: 1599px;
    margin: 0 auto;
}

.admin-data-content {
    max-width: 1599px;
    margin: 0 auto;
    margin-top: 25px;
    min-height: calc(100vh - 135px);
}

@media (max-width: 1199px) {

    #content .col-left-content {
        height: auto;
    }

    .admin-data-content {
        min-height: calc(100vh - 142px);
        height: auto;
    }

    .admin-header .header-container {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        padding: 16px 25px;
        background: #f1f2f3;
        z-index: 5;
    }

    #content .col-left {
        margin-top: 78px;
    }

    .admin-header .header-container .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0 0 8px 0;
        padding-top: 0;
    }

    .header-container {
        padding-right: 0;
        padding-left: 0;
    }

    .header-container .sidebarCollapse {
        margin-left: 8px;
        display: block;
    }

    .header-container .sidebarCollapse svg {
        width: 21px;
        height: 21px;
    }

    .navbar .navbar-item .nav-item.theme-logo {
        margin-right: 3px;
        margin-left: 0;
    }

    /*
        =============
            NavBar
        =============
    */
    .navbar {
        padding: 0 0 0 12px;
    }

    .navbar .navbar-item .nav-item.theme-logo a img {
        width: 38px;
        height: 38px;
    }

    .navbar .language-dropdown .custom-dropdown-icon a.dropdown-toggle {
        position: relative;
        padding: 9px 20px 10px 12px;
    }

    .admin-header .language-dropdown .custom-dropdown-icon a.dropdown-toggle svg {
        right: 10px;
        top: 13px;
    }

    /*
        =============
            Sidebar
        =============
    */
    #content {
        margin-left: 0;
    }

    #content .col-left {
        margin-right: 6px;
    }

    #sidebar .theme-brand {
        border-radius: 0;
    }

    .sidebar-closed #sidebar .theme-brand {
        padding: 0.9px 12px 0.9px 24px;
    }

    html.sidebar-noneoverflow .main-container:not(.sidebar-closed) .sidebar-wrapper #compactSidebar,
    .main-container.sbar-open .sidebar-wrapper #compactSidebar {
        left: 0;
        width: 255px
    }

    .sidebar-wrapper #compactSidebar {
        left: 0;
    }

    .sbar-open .sidebar-wrapper .theme-logo {
        left: 0;
    }

    .sbar-open .sidebar-wrapper .user-content {
        left: 0;
    }

    .sbar-open.sidebar-closed #compactSidebar {
        left: -150px !important;
    }

    /* body.alt-menu .sidebar-closed > .sidebar-wrapper { width: 0; left: -52px; } */
    .main-container {
        padding: 0;
    }

    #sidebar ul.menu-categories.ps {
        height: calc(100vh - 114px) !important;
    }

    .sidebar-wrapper {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 9999;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        border-radius: 0;
        left: -255px;
        width: 255px;
    }

    .sidebar-wrapper .sidebarCollapseFixed.show {
        display: none;
    }

    .sbar-open .sidebar-wrapper {
        left: 0;
    }

    .sbar-open.sidebar-closed .sidebar-wrapper {
        left: -255px;
    }

    #sidebar {
        height: 100vh !important;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
    }

    /* display .overlay when it has the .active class */

    .overlay.show {
        display: block;
        opacity: .7;
    }

}

@media (max-width: 1199px) {
    .navbar .navbar-item .nav-item .form-inline.search .search-form-control {
        width: 220px;
    }

    .admin-header .toggle-notification-bar {
        display: block;
    }

    .admin-header .toggle-notification-bar svg {
        width: 19px;
        height: 19px;
        stroke-width: 1.6px;
    }

    .search-ul {
        display: inline-block;
        text-align: center;
    }

    .language-dropdown {
        display: inline-flex;
    }
}

@media (min-width: 992px) {
    .sidebar-closed #sidebar .theme-brand li.theme-text a {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar .navbar-item.search-ul {
        margin: 0 16px 0 auto;
    }

    .navbar .navbar-item .nav-item .form-inline.search .search-form-control {
        opacity: 0;
        transition: opacity 200ms, top 200ms
    }

    .navbar .navbar-item .nav-item .form-inline.search.input-focused .search-form-control {
        opacity: 1;
        transition: opacity 200ms, top 200ms
    }

    .navbar .navbar-item .nav-item .form-inline.search {
        opacity: 0;
        transition: opacity 200ms, top 200ms;
        top: -25px;
    }

    .navbar .navbar-item .nav-item .form-inline.search.input-focused {
        position: absolute;
        bottom: 0;
        top: 0;
        background: #fff;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 32;
        margin-top: 0px !important;
        display: flex;
        opacity: 1;
        transition: opacity 200ms, top 200ms;
    }

    .navbar .navbar-item .nav-item.search-animated {
        position: initial;
        margin-right: 0;
        margin-left: 0;
    }

    .navbar .navbar-item .nav-item.search-animated svg {
        margin: 0;
        cursor: pointer;
        position: initial;
        transition: top 200ms;
        fill: none;
        stroke-width: 1.6px;
        color: #e3e4eb;
        width: 24px;
        height: 24px;
    }

    .navbar .navbar-item .nav-item.search-animated.show-search svg {
        margin: 0;
        position: absolute;
        top: 17px;
        left: 16px;
        width: 24px;
        height: 24px;
        color: #805dca;
        z-index: 40;
        transition: top 200ms;
    }

    .navbar .navbar-item .nav-item .form-inline.search.input-focused .search-bar {
        width: 100%;
    }

    .navbar .navbar-item .nav-item .form-inline.search.input-focused .search-form-control {
        background: transparent;
        display: block;
        padding-left: 50px;
        padding-right: 12px;
        border: none;
    }

    .navbar .navbar-item .nav-item .form-inline.search .search-form-control {
        border: none;
        width: 100%;
        display: none;
    }
}

@media (max-width: 575px) {

    .page-title h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        min-width: 100px;
        max-width: 105px;
        white-space: nowrap;
    }

    .navbar .navbar-item .nav-item.user-profile-dropdown {
        margin-left: 16px;
    }

    .navbar .navbar-item .nav-item.dropdown a svg {
        width: 24px;
        height: 24px;
    }

    .navbar .language-dropdown .custom-dropdown-icon a.dropdown-toggle img {
        width: 20px;
        height: 20px;
    }

    .admin-header .language-dropdown .custom-dropdown-icon a.dropdown-toggle {
        min-width: auto;
    }

    .admin-header .language-dropdown .custom-dropdown-icon a.dropdown-toggle svg {
        top: 14px;
    }

    .navbar .language-dropdown .custom-dropdown-icon a.dropdown-toggle span {
        display: none;
    }

    .footer-wrapper .footer-section.f-section-2 {
        display: none;
    }

}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .navbar {
        padding: 12px 0 11px 20px;
    }

    .navbar .navbar-item .nav-item form.form-inline input.search-form-control {
        padding-top: 8px;
    }
}
